<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} | DES</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.css">-->
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/js/classes.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/fontawesome-all.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
      <link href="views/src/css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top'>
        <div class="container">
        <a class="navbar-brand" href="/">Document Exchange Software</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="/user/profile/{{user.id}}">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
      </nav>
    </header>
    <main role="main">
      <div class="container2">
        <div class="row">
          {{{ body }}}
        </div>
      </div>

    </main>
    <footer class="py-5 bg-dark">

            <p class="m-0 text-center text-white">Copyright &copy; DES 2018</p>

          <!-- /.container -->
        </footer>
    <script type="text/javascript" src="/js/bootstrap.bundle.js">
</script>
<link rel="stylesheet" href="/css/custom.css">

<script type="text/javascript">



</script>





  </body>
</html>
