<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>You don't have access to the requested page.</h1>

        <a href="/" class="btn btn-default"><span class="fa fa-user"></span> Go back</a>
    </div>

</div>
