<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/signin" id="signInLink" class="btn btn-default" focus><span class="fa fa-user"></span> Local Login</a>
        <!-- <button type="button" name="button" class="btn btn-default" aut><span class="fa fa-user"></span> Local Login</button> -->
        <script>
          document.getElementById("signInLink").focus();
        </script>
    </div>

</div>
