<div class="col-md">
  <div class="card mb-2 flex-row align-items-center">
    <a class="btn btn-outline-info" href="/">Главная</a> >
    <a class="btn btn-outline-info" href="/user/allUsers">Поиск Пользователь</a>>
  </div>
</div>

<div class="col-md-9">
</div>
<div class="col-md-7">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <ul class="list-group list-group-flush">
          <h6 class="my-0">Изменить Пароль</h6>
          {{#if message.length  }}
              <div class="alert alert-danger">{{ message }}</div>
          {{/if }}

          <form name="editPasswordUser" method="post" action="/user/editCurrentPassword/{{user.id}}">
            <div class="form-group">
                <label for="editPassword">Старый Пароль</label>
                <input name="oldPassword" type="password" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="editPassword">Новый Пароль</label>
                <input name="newPassword" type="password" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="editPassword">Повторите еще раз Новый Пароль</label>
                <input name="repeatNewPassword" type="password" class="form-control" value=""/>
            </div>
              <button class="btn btn-warning btn-lg" type="submit" >Изменить</button>
          </form>
          <hr>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- .col-sm -->
