
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">

      <a href="/" class="list-group-item"> Back</a>


      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
              <h2 class="my-0">Edit Password</h6>
              {{#if message.length  }}
                  <div class="alert alert-danger">{{ message }}</div>
              {{/if }}

              <form name="editPasswordUser" method="post" action="/user/editPasswordUser/{{user.id}}">
                  <div class="form-group">
                      <label for="editPassword">New password</label>
                      <input name="newPassword" type="password" class="form-control" value=""/>
                  </div>
                  <button class="btn btn-warning btn-lg" type="submit" >Изменить</button>
              </form>
              <hr>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- .col-sm -->
  </div>
</div></div>